


article{
    position: absolute;
    width: 1059px;
    height: 1382px;
    left: 263px;
    top: 88px;
}

#titulo {
    position: absolute;
    height: 54px;
    left: 0px;
    right: 273px;
    top: 0px;
    width: 748px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    
    letter-spacing: 0.05em;
    
    color: #ED7839;
    
}

#btn_download {
    position: absolute;
    left: 79.51%;
    right: 9.16%;
    top: 0%;
    bottom: 97.76%;

    background: #ED7839;
    border-radius: 4px;
    color: #FFFFFF;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    background-image: url('../img/.png');
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
}

#favorite {
    position: absolute;
    left: 91.31%;
    right: 4.63%;
    top: 0%;
    bottom: 97.76%;

    background: #ED7839;
    border-radius: 4px;
    display: flex;
    justify-content: center;

    background-image: url('../img/.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#doi{
    position: absolute;
    left: 95.85%;
    right: 0.09%;
    top: 0%;
    bottom: 97.76%;

    background: #ED7839;
    border-radius: 4px;

    background-image: url('../img/doi.png');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

#citacao {
    position: absolute;
    height: 25px;
    left: 820px;
    right: 0px;
    top: 43px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */

    text-align: right;
    letter-spacing: 0.05em;

    color: #ED7839;
}

#video {
    position: absolute;
    width: 784px;
    height: 439px;
    left: 2px;
    top: 73px;
    

    background: url('../img/dewey_1.png');
}

#video_img{
    position: absolute;
    width: 784px;
    height: 439px;
    left: 0;
    
    
    background: rgba(141, 53, 6, 0.5);
    border-radius: 3px; 
}

#video_titulo {
    position: absolute;
    height: 54px;
    left: 34px;
    right: 291px;
    top: 30px;
    width: 700px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 25px;
    /* or 104% */
    
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
}

#person{
    position: absolute;
    top: 300px;
    left: 40px;
    border-radius: 100px;
    border: 1px solid #ED7839;
    padding: 3px;
}

#person > img {
    width: 70px;
    height: 70px;
}

#nome {
    position: absolute;
    height: 36px;
    left: 134px;
    right: 473px;
    top: 310px;
    width: 400px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 25px;
    /* or 74% */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

#manchete {
    position: absolute;
    height: 27px;
    left: 136px;
    right: 506px;
    top: 340px;
    width: 450px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

aside {
    position: absolute;
    width: 242px;
    height: 439px;
    left: 816px;
    top: 73px;
    border: 0.5px solid #5c5c5c2d;

}

#title {
    background: #FDF1EB;
    width: 242px;
    height: 45px;
    border-bottom: 0.5px solid #5c5c5c2d;
    padding-left: 10px;
    padding-top: 9px;
}

#title > p {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */

    color: #4E4E4E;
}

#detalhes {
    padding: 8px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* or 14px */

    letter-spacing: 0.02em;

    
    color: #5C5C5C;
}





