#discucoes {
    position: absolute;
    width: 1058px;
    height: auto;
    left: 0px;
    top: 761px;
}

#discucoes > div {
    position: absolute;
    width: 1058px;
    height: 1000px;

    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

#header_discucoes {
    position: absolute;
    width: 1058px;
    height: 45px;

}

#header_discucoes > div {
    position: absolute;
    width: 1058px;
    height: 45px;

    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

#header_discucoes > div > p {
    position: absolute;
    width: 1027px;
    left: 16px;
    top: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    color: #4E4E4E;
}

#title_disc {
    position: absolute;
    top: 60px;
    left: 30.64%;
    right: 29.51%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: #ED7839;    
}

#icon1, #icon2, #icon3 {
    margin-top: 100px;
    width: 50px;
    height: 50px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

#icon1 {
    background-image: url('../img/icone1.png');

}

#icon2 {
    background-image: url('../img/icone2.png');
}

#icon3 {
    background-image: url('../img/icone3.png');
}

#conteudo_disc {
    position: absolute;
    left: 20.44%;
    right: 20.44%;
    top: 200px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #595959;
}

#add_topico{
    background-image: url('../img/criar.png');
    background-position-x: left;
    background-position-y: center;
    position: absolute;
    left: 43.72%;
    right: 43.72%;
    top: 260px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height, or 107% */
    
    text-align: center;
    
    color: #FFFFFF;

    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;    
}

#divisoria {
    position: absolute;
    width: 1027px;
    height: 0px;
    left: 16px;
    top: 276px;
    
    border: 1px solid #E7E7E7;    
}

#topico1, #topico2{
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

#topico1 {
    position: absolute;
    width: 1028px;
    height: 148px;
    left: 15px;    
}

#topico2 {
    position: absolute;
    width: 1028px;
    height: 148px;
    left: 15px;
    top: 480px;
    
}

.header_topico {
    position: absolute;
    width: 542.07px;
    height: 38px;
    left: 39.17px;  
}

.title_topico {
    position: absolute;
    top: 15px;
    bottom: 9.12%;
    width: 400px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #ED7839;
}

.autor {
    position: absolute;
    top: 91.1%;
    bottom: 7.81%;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


color: #5C5C5C;
}

.body_topico {
    position: absolute;
    width: 980.67px;
    height: 35px;
    left: 39.17px;
    top: 50px;
}

.body_topico > p {
    position: absolute;
    margin-top: 20px;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    color: #4D4D4D;
}

.footer_topico {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 39px;
    top: 110px; 
    display: flex;
    justify-content: space-around;  
}

.more {
    background-image: url('../img/mais\ informações.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

#like {
    background: #ED7839;
    background-image: url('../img/green.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.item {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #757575;    
}

footer {
    position: absolute;
    width: 1046px;
    height: 181px;
    top: 2000px;
    
    background: url('../img/footer.png');    
    background-repeat: no-repeat;
    background-position: center;
}

.response {
    background: #ED7839;
    position: absolute;
    width: 1028px;
    height: auto;
    top: 148px;
}

#response1 {
    position: absolute;
    width: 1028px;
    height: 131px;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 20px;
}

#response2 {
    position: absolute;
    width: 1028px;
    top: 130px;
    height: 131px;
    padding: 20px;
}

#response3 {
    position: absolute;
    width: 1028px;
    top: 260px;
    height: 131px;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 20px;
}

#response4 {
    position: absolute;
    width: 1028px;
    top: 390px;
    height: 131px;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;   
    padding: 20px; 
}

.autor_response {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */



    color: #5C5C5C;
}

.body_response {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    color: #4D4D4D;    
}