#sectionA{
    position: absolute;
    width: 1058px;
    height: 189px;
    left: 0px;
    top: 542px;
    
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;    
}

#sectionA > p {
    padding: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    
    color: #5C5C5C;
}
#box_resumo {
    width: 1058px;
    height: 45px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

#box_resumo > p {
    width: 1028px;
    margin-left: 15px;
    margin-top: 8px;
    bottom: 805px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    color: #4E4E4E;
}

#multiCollapseExample2, #multiCollapseExample1 {
    padding: 10px;
    position: static;
    width: 1028px;
    height: 485px;
    left: 0px;
    top: 0px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #5C5C5C;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}