#sectionB {
    position: absolute;
    width: 1058px;
    height: 621px;
    left: 0px;
    top: 750px;
    
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

#title_disc {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: #ED7839;    
}

#conteudo_disc {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    
    color: #595959;    
}
#topico {
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    color: #FFFFFF;
}

.topico {
    padding: 20px;
    margin: 20px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

#title_topico {   
    margin: 0; 
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #ED7839;    
}

#autor {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #5C5C5C;
}

#conteudo {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    color: #4D4D4D;    
}
#like {
    height: 20px;
    
    background-repeat: no-repeat;
    background-position: center;
    background: #ED7839;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.item  {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #757575;    
}
