#resumo{
    position: absolute;
    width: 1058px;
    height: auto;
    left: 0px;
    top: 542px;
}

#resumo > div {
    position: absolute;
    width: 1058px;
    height: auto;
    
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;    
}

#header_resumo, #header_resumo > div {
    position: absolute;
    width: 1058px;
    height: 45px;
}

#header_resumo > div {
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

#header_resumo > div > p {
    position: absolute;
    width: 1028px;
    left: 15px;
    top: 8px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    
    display: flex;
    align-items: center;
    
    color: #4E4E4E;    
}

#contente {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    
    position: absolute;
    width: 1028px;
    height: auto;
    left: 15px;
    top: 45px;    
}

#contente > div > p {
    position: static;
    width: 1028px;
    height: 114px;
    left: 0px;
    top: 0px;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    
    color: #5C5C5C;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}





