
#sidebar{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#sidebar, img{
    height: 100%;
    width: 220px;
    left: 0px;
    right: 0%;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
}

#box_slaca{
    height: 68px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}
#slaca {
    position: absolute;
    left: 9.09%;
    right: 10%;
    top: 0%;
    bottom: 0%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#logo {
    margin-top: 68px;
    height: 258px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

aside > ul {
    padding-left: 0;
    margin: 0;
}

ul > li {
    height: 33px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    bottom: 5.71%;
    border-top:  1px solid #dfd9d98a;
}

ul > li:hover{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 5.71%;

    background: #FDF1EB;

    border-left: 5px solid #FFB354;
    
}

ul > li > p {
    position: relative;

    left: 10.91%;
    right: 44.09%;
    top: 20%;
    bottom: 25.71%;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #725C5C;
}

